body {
    background: #222222;
    color: orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
  }
  
  #activity-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .datetime {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  
  .time {
    font-size: 3em;
    color: #00ffcc;
  }
  
  .date {
    margin-top: 12px;
    font-size: 1.75em;
  }
  